<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Add Task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<h2>➕ Add New Task</h2>

<form method="POST">

    <label>Title:</label>
    <input type="text" name="title" required>

    <label>Description:</label>
    <input type="text" name="description" required>

    <label>Due Date:</label>
    <input type="date" name="due_date">

    <label>Status:</label>
    <select name="status">
        <option>Pending</option>
        <option>Completed</option>
    </select>

    <label>Remarks:</label>
    <input type="text" name="remarks">

    <label>Created By:</label>
    <input type="text" name="created_by">

    <button type="submit">Add Task</button>

</form>

<br>
<a href="/">⬅ Back to Home</a>

</div>

</body>
</html>