<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Edit Task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<h2>✏ Edit Task</h2>

<form method="POST">

    <label>Title:</label>
    <input type="text" name="title" value="{{ task.title }}" required>

    <label>Description:</label>
    <input type="text" name="description" value="{{ task.description }}" required>

    <label>Due Date:</label>
    <input type="date" name="due_date" value="{{ task.due_date }}">

    <label>Status:</label>
    <select name="status">
        <option {% if task.status == 'Pending' %}selected{% endif %}>Pending</option>
        <option {% if task.status == 'Completed' %}selected{% endif %}>Completed</option>
    </select>

    <label>Remarks:</label>
    <input type="text" name="remarks" value="{{ task.remarks }}">

    <label>Updated By:</label>
    <input type="text" name="updated_by">

    <button type="submit">Update Task</button>

</form>

<br>
<a href="/">⬅ Back to Home</a>

</div>

</body>
</html>